/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/



#root{
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 30vh auto min-content;
  grid-template-areas:
                      "navigation"
                      "header"
                      "content"
                      "footer";
}

#header{
  grid-area: header;
}
#content{
  grid-area: content;
}
#navigation{
  grid-area: navigation;
}

#footer{
  grid-area: footer;
}

