/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/
header{
    width:100%;

    background-color:#75a3a3;
}

header h1{
    color:#e0ebeb;
    font-size:70px;
        text-align:center;
        font-family: 'Merriweather', serif;
        padding-top:10px;
          text-shadow: 2px 2px 4px black;
}

header h3{
    color:#a3c2c2;
    font-size:40px;
    text-align:center;
    margin-top:10px;
    padding-bottom:10px;
    font-family: 'PT Sans', sans-serif;
}

.nav-bar{

}

.content{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-around;
      align-items: center;


}
.content div{
  width:400px;
  height:400px;
  background-color: #f2f9fa;
  margin:20px;



}

.name{
  color:#33838f;
  text-align:center;


}

.author{
  color:#a5bec2;
  text-align:center;
}

.price{
    color:#a5bec2;
    text-align:center;
}

.picture{
  width:100%;
  height:auto;


}

.selling-points{
  color:#a5bec2;
  text-align:center;

}

form{


}

footer{

}
