/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/
body {
  background-color: blueviolet;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

#navigation {
  color: red;
  position: sticky;
  left: 0;
  top: 0;
}

#header {
  color: white;
  min-height: 100vh;
  font-family: fantasy;
  background: url(https://www.enca.com/sites/default/files/WEB_PHOTO_MONEY_TREE_BOOK_06092017.jpg);
  background-size: 100%;
}

#content {
  display: flex;
}

#navigation,
#footer {
  padding: 1rem;
}

#navigation li,
#footer li {
  display: inline;
  margin: 0.25rem;
}

#navigation a,
#footer a {
  color: papayawhip;
  text-decoration: none;
}
