/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/

#root {
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    grid-template-columns: repeat(1fr, 5);
}

#navigation {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}

#content {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}

#footer {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
}

.book {
    padding: 5px;
    font-family: 'Futura', sans-serif;
    font-size: 18pt;
}

.book .title {
    font-weight: bold;
}

.book .author {
    font-style: italic;
}

.book .year {
  font-variant: small-caps;
  font-size: 15pt;
}

.book .price {
  font-variant: small-caps;
  font-size: 15pt;
}

.book > img {
    width: 80%;
    margin-bottom: 5px;
}