html {
  box-sizing: border-box;
  width: auto;
}

h1 {
  background: springgreen;
  font-family: fantasy;
  text-shadow: 0px 0px 9px aquamarine;
  color: peru;
  border: dashed 6px hotpink;
}

nav {
  position: sticky;
  top: 0;
  background: firebrick;
  color: darkkhaki;
}

content {
  text-align: center;
  background: burlywood;
  border: solid 2px springgreen;
}

footer {
  background: springgreen;
  font-family: fantasy;
  text-shadow: 0px 0px 9px aquamarine;
  color: peru;
  border: dashed 6px hotpink;
}

li {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;

}

/*Developer's Note: This needs to be an ID, not a class selector.*/
#root {
  display: grid;
  grid-template-areas:
  'Header'
  'Nav'
  'Content'
  'Footer';
}

.fas {
  font-size: 2em;
  color: rosybrown;
  text-align: center;
  margin: 6px;
}
