/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}


/*put all other styles below this line, please*/
#navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: orange;
  text-align: center;
}

#navigation a {
    text-decoration: none;
}

#navigation > ul {

  color: blue;
  font-size: 20px;
  font-family: sans-serif;
  list-style: none;

}

#navigation > ul > li {
  display: inline;
  margin: 5px;
  position: relative;
  text-decoration: none;

}

#content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap
}
#content > div{
  max-width: 200px;
}
#content > div img{
  width: 100%;
}
#content > div > h1 {
  font-family: 'Vollkorn SC', serif;
  color: red;
}

#footer {
    text-decoration: none;
    text-align: center;
    background-color: orange;
    color: blue;
    font-size: 20px;
    font-family: sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

#header{
  background-image: url("https://elearningindustry.com/wp-content/uploads/2016/02/top-10-psychology-books-elearning-professional-read.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px black;
  text-align: center;
  height: 30%;
}
.storeTitle{
  font-family: fantasy;
  color: snow;
  padding-top: 20px;
  font-size: 10vw;
}
.tagline{
  color: ivory;
  text-align: right;
  margin: 20px;
  font-size: 4vw;
}

#footer ul {
    list-style: none;
    text-decoration: none;
}


.formheader {
    width: 100%;
    max-width: 800px;
}

.formheader > div {
    margin: 5px;
}

.formheader > div > input {
    width: 100%;
}


.formheader > div > textarea {
    width: 100%;
}

#book1:hover {
  background-color: cornflowerblue;
}
#book2:hover {
  background-color: coral;
}
#book3:hover {
  background-color: orange;
}
