/* CSS Grid */
body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1200px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 25fr);
}

footer {
  grid-area: footer;
}

/* Responsive Images. */
figure,
img {
  height: auto;
  max-width: 100%;
}

/* Put all other styles below this line please! */
header {
  grid-area: header;
  background: skyblue;
  margin: 10px;
  padding: 10px;
  align-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

nav ul li {
  line-height: 10px;
  border: 1.75px groove #444;
  padding: 8px;
  margin: 8px;
  border-radius: 25%;
}

nav ul li:hover {
  border: 1.75px solid #444;
  transition: ease .25s;
  transform: translateY(-15%);
  transform: translateX(15%);
  box-shadow: 1px 2px 3px #111;
  box-shadow: 2px 2.5px 3px #b7410e;

}

nav ul a {
  text-decoration: none;
  color: #b7410e;
}
  
footer {
  height: 100px;
  background: #9d8189;
  color: #fff;
  text-align: center;
  width: 1440px;
}

footer ul {
  list-style-type: none;
}

form{
  display:flex;
  flex-direction: column;
  margin:var(--base-spacing);
  }

 input,
 textarea{
  border:solid thin black;
  max-width:80vw;
 }

 form div{
  display:flex;
  flex-direction: column;
  margin:var(--base-spacing);
