/* CSS Grid */
body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1200px;
  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 25fr);
}

footer {
  grid-area: footer;
}

/* Responsive Images. */
figure,
img {
  height: auto;
  max-width: 100%;
}

/* Put all other styles below this line please! */

footer {
  height: 100px;
  background: #9d8189;
  color: #fff;
  text-align: center;
  width: 1440px;
}
footer ul {
  list-style-type: none;
}
